* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select, button {
 height: 25px;
}
/* your CSS below! */
td {
  background-color: lightgrey;
  height: 50px;
  width: 50px;
}

.blue{
  background-color: blue;
}

.green {
  background-color: green;
}
.magenta{
  background-color: magenta;
}
.purple{
  background-color: purple;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.pink{
  background-color: pink;
}
.grey{
  background-color: lightgrey;
}
.black {
  background-color: black;
}
.beige {
  background-color: #eebb99;
}
.aquamarine{
  background-color: aquamarine;
}
.lightblue{
  background-color: rgb(75, 75, 236);
}
.white{
  background-color: white;
}
.lightgreen{
  background-color: rgb(59, 218, 59);
}
.brown{
  background-color: rgb(103, 31, 31); 
}
.gold{
  background-color: gold;
}
